---
import SocialLink from "../components/SocialLink.astro"
---
<header id="header">
    <div class="container">
        <h1 class="text-capitalize">
            <a href="index.html">the site is under maintenance</a>
        </h1>
        <SocialLink />
    </div>
</header>