@use "sass:map";
/*
$custom_themes: (
  "beige": #ffeeda,
  "purple": purple,
);
$custom_grid-breakpoints: (
  xxxl: 1600px
);

$custom_container-max-widths: (
  xxxl: 1520px
);

$theme-colors: map.merge($theme-colors, $custom_themes);
$grid-breakpoints: map.merge($grid-breakpoints, $custom_grid-breakpoints);
$container-max-widths: map.merge($container-max-widths, $custom_container-max-widths);
*/
